tr.cancelado {
    color: red;
    text-decoration: line-through;
}

tr.hoy {
    background-color: #b2e0e0;
    border: 2px solid #009688;
    font-weight: bold;
}

tr.hoy+tr {
    border-top: 2px solid #009688;
}